
<div class="home_menu">
<div class="logo">
<img src="">
</div>
<nav>
<ul>
<li><a href="">Home</a></li>
<li><a href="">Blog</a></li>
<li><a href="">Portfolio</a></li>
</ul>
</nav>
</div>



<div class="showcase">

<h2>A Testing Rails</h2>
<p>
  The time is now: <%= Time.now %>
</p>

</div>

